wheel==0.41.1
setuptools==68.0.0
SpeechRecognition==3.1
Flask==2.1.2
Flask-SocketIO==5.3.4
Flask-Cors==4.0.0
moviepy==1.0.3
websockets==11.0.3
python-decouple==3.8
openai==0.27.8
tokenizers==0.13.3
hume==0.3.5
python-dotenv==1.0.0
aiortc==1.5.0
Pyrebase4==4.7.1
opencv-contrib-python-headless==4.5.5.62
pandas==2.0.3
seaborn==0.11.2
GitPython==3.1.27
firebase-admin==6.2.0
stripe==5.5.0
tiktoken